.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: black;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  position: fixed;
  top: 60px;
  right: 25px;
  z-index: 10;
  a {
    cursor: pointer;
  }
  animation: fadeOut 1s 1s;
}

.flash-success {
  border: 2px solid #1EDD88;
}
