nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  a {
    text-decoration: none;
    color: white;
    &::after {
      color: black;
    }
  }
  h1 {
    margin: 0;
    text-decoration: none;
  }
  li {
    display: inline;
    margin-left: 1rem;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .active {
      text-decoration: underline;
    }
  }
}
