a {
  width: 130px;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
  border: none;
  color: black;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
  }
}

.columnWrapper {
  display: flex;
  flex-flow: row;
  padding-top: 30px;
}
.columnWrapper span {
  min-width: 250px;
  flex: 1 0 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
button {
  margin-top: 20px;
}
