.foxes {
  display: grid;
  width: 100%;
}

@media (min-width: 600px) {
  .foxes { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .foxes { grid-template-columns: repeat(3, 1fr); }
}

.actions {
  display: flex;
  justify-content: center;
  button {
    width: 100px;
    padding: 0.5rem 0.2rem;
    border: 2px solid rgb(226, 147, 0);
    color: rgb(226, 147, 0);
    border-radius: 5px;
    background-color: transparent;
    font-weight: bold;
    &:hover {
      color: white;
      background-color: rgb(226, 147, 0);
      cursor: pointer;
    }
  }
}
