<ng-container *ngIf="!loading; else loadingState">
  <h2>Foxes!</h2>
  <div class="actions" [ngClass]="{ disabled: this.loading }">
    <button (click)="refresh()" [disabled]="this.loading">Refresh</button>
  </div>
  <div class="foxes">
    <app-fox
      (onFavourite)="onFavourite(i)"
      (refreshSingle)="refreshSingle(i)"
      *ngFor="let fox of foxes; let i = index"
      [i]="i"
      [foxUrl]="fox"
    ></app-fox>
  </div>
</ng-container>
<ng-template #loadingState>
  <p>Loading...</p>
</ng-template>
